body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.dummy_text{
    width: 100%;
    height: 100vh;
    /* flex center */
    display: flex;
    justify-content: center;
    align-items: center;
}
.animate_sec{
    height: 100vh;
    width: 100%;
    background-color: #5a605e;
    /* flex center */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.animate_sec .animate_sec_inner{
    width: 700px;
    max-width: 100%;
    position: relative;
}
.animate_sec img{
    width: 100%;
}
.animate_sec .mobile_menu{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}